/* @keyframes lightOne {
  0% {
    d: path("M559.026 215.699C537.026 238.032 472.927 278.299 392.527 260.699");
  }

  100% {
    d: path("M559.026 215.699C493 215.699 437 234.5 392.527 260.699");
  }
} */

@keyframes lightOne {
  0% {
    d: path("M559.026 215.699C493 215.699 437 234.5 392.527 260.699");
  }

  7.1429% {
    d: path("M559.026 215.699C537.026 238.032 472.927 278.299 392.527 260.699");
  }

  14.2858% {
    d: path("M559.026 215.699C493 215.699 437 234.5 392.527 260.699");
  }

  14.2858%,
  78.5719% {
    d: path("M559.026 215.699C493 215.699 437 234.5 392.527 260.699");
  }

  85.7148% {
    d: path("M559.026 215.699C537.026 238.032 472.927 278.299 392.527 260.699");
  }

  85.7148%,
  92.8577% {
    d: path("M559.026 215.699C537.026 238.032 472.927 278.299 392.527 260.699");
  }

  100% {
    d: path("M559.026 215.699C493 215.699 437 234.5 392.527 260.699");
  }
}

/* @keyframes lightTwo {
  0% {
    d: path("M725.525 259.699C733.163 172.699 599.937 129.98 559.025 215.699");
  }

  100% {
    d: path("M725.525 259.699C676 235 613.5 215.699 559.025 215.699");
  }
} */

@keyframes lightTwo {
  0% {
    d: path("M725.525 259.699C676 235 613.5 215.699 559.025 215.699");
  }

  7.1429% {
    d: path("M725.525 259.699C733.163 172.699 599.937 129.98 559.025 215.699");
  }

  7.1429%,
  14.2858% {
    d: path("M725.525 259.699C733.163 172.699 599.937 129.98 559.025 215.699");
  }

  21.4287% {
    d: path("M725.525 259.699C676 235 613.5 215.699 559.025 215.699");
  }

  21.4287%,
  92.8577%,
  100% {
    d: path("M725.525 259.699C676 235 613.5 215.699 559.025 215.699");
  }
}

/* @keyframes lightThree {
  0% {
    d: path("M849.025 382.699C804.025 385.365 716.325 364.499 725.525 259.699");
  }

  100% {
    d: path("M849.025 382.699C811.5 327 784 294.5 725.525 259.699");
  }
} */

@keyframes lightThree {
  0%,
  7.1429% {
    d: path("M849.025 382.699C811.5 327 784 294.5 725.525 259.699");
  }
  14.2858% {
    d: path("M849.025 382.699C804.025 385.365 716.325 364.499 725.525 259.699");
  }

  14.2858%,
  21.4287% {
    d: path("M849.025 382.699C804.025 385.365 716.325 364.499 725.525 259.699");
  }

  28.5716% {
    d: path("M849.025 382.699C811.5 327 784 294.5 725.525 259.699");
  }

  33.32%,
  92.8577%,
  100% {
    d: path("M849.025 382.699C811.5 327 784 294.5 725.525 259.699");
  }
}

/* @keyframes lightFour {
  0% {
    d: path("M893.525 551.199C945.025 517.214 958.025 382.699 849.025 382.699");
  }

  100% {
    d: path("M893.525 551.199C893.525 486.5 878 432.5 849.025 382.699");
  }
} */

@keyframes lightFour {
  0%,
  14.2858% {
    d: path("M893.525 551.199C893.525 486.5 878 432.5 849.025 382.699");
  }
  21.4287% {
    d: path("M893.525 551.199C945.025 517.214 958.025 382.699 849.025 382.699");
  }

  21.4287%,
  28.5716% {
    d: path("M893.525 551.199C945.025 517.214 958.025 382.699 849.025 382.699");
  }

  35.7145% {
    d: path("M893.525 551.199C893.525 486.5 878 432.5 849.025 382.699");
  }

  35.7145%,
  92.8577%,
  100% {
    d: path("M893.525 551.199C893.525 486.5 878 432.5 849.025 382.699");
  }
}

/* @keyframes lightFive {
  0% {
    d: path("M849.025 719.199C817.307 658.699 814.725 603.199 893.525 551.199");
  }

  100% {
    d: path("M849.025 719.199C877.5 669.5 893.525 612.5 893.525 551.199");
  }
} */

@keyframes lightFive {
  0%,
  21.4287% {
    d: path("M849.025 719.199C877.5 669.5 893.525 612.5 893.525 551.199");
  }

  28.5716% {
    d: path("M849.025 719.199C817.307 658.699 814.725 603.199 893.525 551.199");
  }

  30.76%,
  35.7145% {
    d: path("M849.025 719.199C817.307 658.699 814.725 603.199 893.525 551.199");
  }

  42.8574% {
    d: path("M849.025 719.199C877.5 669.5 893.525 612.5 893.525 551.199");
  }

  42.8574%,
  92.8577%,
  100% {
    d: path("M849.025 719.199C877.5 669.5 893.525 612.5 893.525 551.199");
  }
}

/* @keyframes lightSix {
  0% {
    d: path("M725.526 841.699C791.026 856.037 893.526 804.078 849.026 719.199");
  }

  100% {
    d: path("M725.525 841.699C786.5 803 806.5 780.5 849.025 719.199");
  }
} */

@keyframes lightSix {
  0%,
  28.5716% {
    d: path("M725.525 841.699C786.5 803 806.5 780.5 849.025 719.199");
  }

  35.7145% {
    d: path("M725.526 841.699C791.026 856.037 893.526 804.078 849.026 719.199");
  }

  35.7145%,
  42.8574% {
    d: path("M725.526 841.699C791.026 856.037 893.526 804.078 849.026 719.199");
  }

  50.0003% {
    d: path("M725.525 841.699C786.5 803 806.5 780.5 849.025 719.199");
  }

  50.0003%,
  92.8577%,
  100% {
    d: path("M725.525 841.699C786.5 803 806.5 780.5 849.025 719.199");
  }
}

/* @keyframes lightSeven {
  0% {
    d: path("M559.025 886.699C581.025 864.365 645.125 824.099 725.525 841.699");
  }

  100% {
    d: path("M559.025 886.699C609.5 885 673.5 871.5 725.525 841.699");
  }
} */

@keyframes lightSeven {
  0%,
  35.7145% {
    d: path("M559.025 886.699C609.5 885 673.5 871.5 725.525 841.699");
  }

  42.8574% {
    d: path("M559.025 886.699C581.025 864.365 645.125 824.099 725.525 841.699");
  }

  42.8574%,
  50.0003% {
    d: path("M559.025 886.699C581.025 864.365 645.125 824.099 725.525 841.699");
  }

  57.1432% {
    d: path("M559.025 886.699C609.5 885 673.5 871.5 725.525 841.699");
  }

  57.1432%,
  92.8577%,
  100% {
    d: path("M559.025 886.699C609.5 885 673.5 871.5 725.525 841.699");
  }
}

/* @keyframes lightEight {
  0% {
    d: path("M392.527 842.699C384.89 929.699 518.116 972.417 559.027 886.699");
  }

  100% {
    d: path("M392.527 842.699C454.5 875 498 880.5 559.026 886.699");
  }
} */

@keyframes lightEight {
  0%,
  42.8574% {
    d: path("M392.527 842.699C454.5 875 498 880.5 559.026 886.699");
  }

  50.0003% {
    d: path("M392.527 842.699C384.89 929.699 518.116 972.417 559.027 886.699");
  }

  50.0003%,
  57.1432% {
    d: path("M392.527 842.699C384.89 929.699 518.116 972.417 559.027 886.699");
  }
  64.2861% {
    d: path("M392.527 842.699C454.5 875 498 880.5 559.026 886.699");
  }

  64.2861%,
  92.8577%,
  100% {
    d: path("M392.527 842.699C454.5 875 498 880.5 559.026 886.699");
  }
}

/* @keyframes lightNine {
  0% {
    d: path("M269.027 719.699C314.027 717.032 401.727 737.899 392.527 842.699");
  }

  100% {
    d: path("M269.027 719.699C294.5 758.5 328 799 392.527 842.699");
  }
} */

@keyframes lightNine {
  0%,
  50.0003% {
    d: path("M269.027 719.699C294.5 758.5 328 799 392.527 842.699");
  }

  57.1432% {
    d: path("M269.027 719.699C314.027 717.032 401.727 737.899 392.527 842.699");
  }

  57.1432%,
  64.2861% {
    d: path("M269.027 719.699C314.027 717.032 401.727 737.899 392.527 842.699");
  }

  71.429% {
    d: path("M269.027 719.699C294.5 758.5 328 799 392.527 842.699");
  }

  71.429%,
  92.8577%,
  100% {
    d: path("M269.027 719.699C294.5 758.5 328 799 392.527 842.699");
  }
}

/* @keyframes lightTen {
  0% {
    d: path("M224.527 551.199C173.027 585.184 160.027 719.699 269.027 719.699");
  }

  100% {
    d: path("M224.527 551.199C230.5 620.5 232.5 643.5 269.027 719.699");
  }
} */

@keyframes lightTen {
  0%,
  57.1432% {
    d: path("M224.527 551.199C230.5 620.5 232.5 643.5 269.027 719.699");
  }

  64.2861% {
    d: path("M224.527 551.199C173.027 585.184 160.027 719.699 269.027 719.699");
  }

  64.2861%,
  71.429% {
    d: path("M224.527 551.199C173.027 585.184 160.027 719.699 269.027 719.699");
  }

  78.5719% {
    d: path("M224.527 551.199C230.5 620.5 232.5 643.5 269.027 719.699");
  }

  91.63%,
  92.8577%,
  100% {
    d: path("M224.527 551.199C230.5 620.5 232.5 643.5 269.027 719.699");
  }
}

/* @keyframes lightEleven {
  0% {
    d: path("M269.027 383.199C300.746 443.699 303.327 499.199 224.527 551.199");
  }

  100% {
    d: path("M269.027 383.199C234.5 451 228 486 224.527 551.199");
  }
} */

@keyframes lightEleven {
  0%,
  64.2861% {
    d: path("M269.027 383.199C234.5 451 228 486 224.527 551.199");
  }

  71.429% {
    d: path("M269.027 383.199C300.746 443.699 303.327 499.199 224.527 551.199");
  }

  71.429%,
  78.5719% {
    d: path("M269.027 383.199C300.746 443.699 303.327 499.199 224.527 551.199");
  }

  85.7148% {
    d: path("M269.027 383.199C234.5 451 228 486 224.527 551.199");
  }

  85.7148%,
  92.8577%,
  100% {
    d: path("M269.027 383.199C234.5 451 228 486 224.527 551.199");
  }
}

/* @keyframes lightTwelve {
  0% {
    d: path("M392.527 260.699C327.027 246.361 224.527 298.319 269.027 383.199");
  }

  100% {
    d: path("M392.527 260.699C348.5 291.5 328.5 295 269.027 383.199");
  }
} */

@keyframes lightTwelve {
  0%,
  71.429% {
    d: path("M392.527 260.699C348.5 291.5 328.5 295 269.027 383.199");
  }

  78.5719% {
    d: path("M392.527 260.699C327.027 246.361 224.527 298.319 269.027 383.199");
  }

  78.5719%,
  85.7148% {
    d: path("M392.527 260.699C327.027 246.361 224.527 298.319 269.027 383.199");
  }

  92.8577%,
  100% {
    d: path("M392.527 260.699C348.5 291.5 328.5 295 269.027 383.199");
  }
}
