/* @keyframes darkOne {
  0% {
    d: path("M391.5 261C411 181 496 163 559.027 215.698");
  }

  100% {
    d: path("M391.5 261C447 231.5 483.5 219 559.027 215.698");
  }
} */

@keyframes darkOne {
  0% {
    d: path("M391.5 261C447 231.5 483.5 219 559.027 215.698");
  }

  7.1429% {
    d: path("M391.5 261C411 181 496 163 559.027 215.698");
  }

  14.2858% {
    d: path("M391.5 261C447 231.5 483.5 219 559.027 215.698");
  }

  14.2858%,
  78.5719% {
    d: path("M391.5 261C447 231.5 483.5 219 559.027 215.698");
  }

  85.7148% {
    d: path("M391.5 261C411 181 496 163 559.027 215.698");
  }

  85.7148%,
  92.5877% {
    d: path("M391.5 261C411 181 496 163 559.027 215.698");
  }

  100% {
    d: path("M391.5 261C447 231.5 483.5 219 559.027 215.698");
  }
}

/* @keyframes darkTwo {
  0% {
    d: path("M559.026 215.699C581.026 238.032 645.126 278.299 725.526 260.699");
  }

  100% {
    d: path("M559.026 215.699C629 215.699 693.5 242 725.526 260.699");
  }
} */

@keyframes darkTwo {
  0% {
    d: path("M559.026 215.699C629 215.699 693.5 242 725.526 260.699");
  }

  7.1429% {
    d: path("M559.026 215.699C581.026 238.032 645.126 278.299 725.526 260.699");
  }

  7.1429%,
  14.2858% {
    d: path("M559.026 215.699C581.026 238.032 645.126 278.299 725.526 260.699");
  }

  21.4287% {
    d: path("M559.026 215.699C629 215.699 693.5 242 725.526 260.699");
  }

  21.4287%,
  92.5877%,
  100% {
    d: path("M559.026 215.699C629 215.699 693.5 242 725.526 260.699");
  }
}

/* @keyframes darkThree {
  0% {
    d: path("M725.525 260.699C791.025 246.36 893.525 298.319 849.025 383.199");
  }

  100% {
    d: path("M725.525 260.699C769 286.5 811.5 318.5 849.025 383.199");
  }
} */

@keyframes darkThree {
  0%,
  7.1429% {
    d: path("M725.525 260.699C769 286.5 811.5 318.5 849.025 383.199");
  }

  14.2858% {
    d: path("M725.525 260.699C791.025 246.36 893.525 298.319 849.025 383.199");
  }

  14.2858%,
  21.4287% {
    d: path("M725.525 260.699C791.025 246.36 893.525 298.319 849.025 383.199");
  }

  28.5716% {
    d: path("M725.525 260.699C769 286.5 811.5 318.5 849.025 383.199");
  }

  33.32%,
  92.5877%,
  100% {
    d: path("M725.525 260.699C769 286.5 811.5 318.5 849.025 383.199");
  }
}

/* @keyframes darkFour {
  0% {
    d: path("M894 552.5C838.344 512.9 797.497 467.266 850 381.5");
  }

  100% {
    d: path("M894 552C894 494 880.5 437.5 848.5 381.5");
  }
} */

@keyframes darkFour {
  0%,
  14.2858% {
    d: path("M894 552C894 494 880.5 437.5 848.5 381.5");
  }

  21.4287% {
    d: path("M894 552.5C838.344 512.9 797.497 467.266 850 381.5");
  }

  21.4287%,
  28.5716% {
    d: path("M894 552.5C838.344 512.9 797.497 467.266 850 381.5");
  }

  35.7145% {
    d: path("M894 552C894 494 880.5 437.5 848.5 381.5");
  }

  35.7145%,
  92.5877%,
  100% {
    d: path("M894 552C894 494 880.5 437.5 848.5 381.5");
  }
}

/* @keyframes darkFive {
  0% {
    d: path("M893.525 551.199C945.025 585.183 958.025 719.699 849.025 719.699");
  }

  100% {
    d: path("M893.525 551.199C893.525 613.5 878.5 665.5 849.025 719.699");
  }
} */

@keyframes darkFive {
  0%,
  21.4287% {
    d: path("M893.525 551.199C893.525 613.5 878.5 665.5 849.025 719.699");
  }

  28.5716% {
    d: path("M893.525 551.199C945.025 585.183 958.025 719.699 849.025 719.699");
  }

  28.5716%,
  35.7145% {
    d: path("M893.525 551.199C945.025 585.183 958.025 719.699 849.025 719.699");
  }

  42.8574% {
    d: path("M893.525 551.199C893.525 613.5 878.5 665.5 849.025 719.699");
  }

  42.8574%,
  92.5877%,
  100% {
    d: path("M893.525 551.199C893.525 613.5 878.5 665.5 849.025 719.699");
  }
}

/* @keyframes darkSix {
  0% {
    d: path("M849.025 719.698C804.025 717.032 716.325 737.898 725.525 842.698");
  }

  100% {
    d: path("M849.025 719.698C803 789 776 808.5 723 842.698");
  }
} */

@keyframes darkSix {
  0%,
  28.5716% {
    d: path("M849.025 719.698C803 789 776 808.5 723 842.698");
  }

  35.7145% {
    d: path("M849.025 719.698C804.025 717.032 716.325 737.898 725.525 842.698");
  }

  35.7145%,
  42.8574% {
    d: path("M849.025 719.698C804.025 717.032 716.325 737.898 725.525 842.698");
  }

  50.0003% {
    d: path("M849.025 719.698C803 789 776 808.5 723 842.698");
  }

  50.0003%,
  92.5877%,
  100% {
    d: path("M849.025 719.698C803 789 776 808.5 723 842.698");
  }
}

/* @keyframes darkSeven {
  0% {
    d: path("M558.85 886.298C616.484 945.108 698.75 917.156 726.008 839.654");
  }

  100% {
    d: path("M558.85 886.298C637.5 882.5 677.5 866 725.5 839.654");
  }
} */

@keyframes darkSeven {
  0%,
  35.7145% {
    d: path("M558.85 886.298C637.5 882.5 677.5 866 725.5 839.654");
  }

  42.8574% {
    d: path("M558.85 886.298C616.484 945.108 698.75 917.156 726.008 839.654");
  }

  42.8574%,
  50.0003% {
    d: path("M558.85 886.298C616.484 945.108 698.75 917.156 726.008 839.654");
  }

  57.1432% {
    d: path("M558.85 886.298C637.5 882.5 677.5 866 725.5 839.654");
  }

  57.1432%,
  92.5877%,
  100% {
    d: path("M558.85 886.298C637.5 882.5 677.5 866 725.5 839.654");
  }
}

/* @keyframes darkEight {
  0% {
    d: path("M559.027 886.699C537.027 864.365 472.927 824.099 392.527 841.698");
  }

  100% {
    d: path("M559.027 886.698C495 881.5 458 875 392.527 841.698");
  }
} */

@keyframes darkEight {
  0%,
  42.8574% {
    d: path("M559.027 886.698C495 881.5 458 875 392.527 841.698");
  }

  50.0003% {
    d: path("M559.027 886.699C537.027 864.365 472.927 824.099 392.527 841.698");
  }

  50.0003%,
  57.1432% {
    d: path("M559.027 886.699C537.027 864.365 472.927 824.099 392.527 841.698");
  }
  64.2881% {
    d: path("M559.027 886.698C495 881.5 458 875 392.527 841.698");
  }

  64.2881%,
  92.5877%,
  100% {
    d: path("M559.027 886.698C495 881.5 458 875 392.527 841.698");
  }
}

/* @keyframes darkNine {
  0% {
    d: path("M392.527 841.698C327.027 856.037 224.527 804.078 269.027 719.198");
  }

  100% {
    d: path("M392.527 841.698C345 810 318 791 269.027 719.198");
  }
} */

@keyframes darkNine {
  0%,
  50.0003% {
    d: path("M392.527 841.698C345 810 318 791 269.027 719.198");
  }

  57.1432% {
    d: path("M392.527 841.698C327.027 856.037 224.527 804.078 269.027 719.198");
  }

  57.1432%,
  64.2881% {
    d: path("M392.527 841.698C327.027 856.037 224.527 804.078 269.027 719.198");
  }

  71.429% {
    d: path("M392.527 841.698C345 810 318 791 269.027 719.198");
  }

  71.429%,
  92.5877%,
  100% {
    d: path("M392.527 841.698C345 810 318 791 269.027 719.198");
  }
}

/* @keyframes darkTen {
  0% {
    d: path("M269.027 719.199C299 656 313 599 224.527 551.198");
  }

  100% {
    d: path("M269.027 719.199C251 692.5 224.527 613.5 224.527 551.198");
  }
} */

@keyframes darkTen {
  0%,
  57.1432% {
    d: path("M269.027 719.199C251 692.5 224.527 613.5 224.527 551.198");
  }

  64.2881% {
    d: path("M269.027 719.199C299 656 313 599 224.527 551.198");
  }

  64.2881%,
  71.429% {
    d: path("M269.027 719.199C299 656 313 599 224.527 551.198");
  }

  78.5719% {
    d: path("M269.027 719.199C251 692.5 224.527 613.5 224.527 551.198");
  }

  78.5719%,
  92.5877%,
  100% {
    d: path("M269.027 719.199C251 692.5 224.527 613.5 224.527 551.198");
  }
}

/* @keyframes darkEleven {
  0% {
    d: path("M224.527 551.198C173.027 517.214 160.027 382.698 269.027 382.698");
  }

  100% {
    d: path("M224.527 551.199C224.527 511.5 231.5 454.5 269.027 382.698");
  }
} */

@keyframes darkEleven {
  0%,
  64.2881% {
    d: path("M224.527 551.199C224.527 511.5 231.5 454.5 269.027 382.698");
  }

  71.429% {
    d: path("M224.527 551.198C173.027 517.214 160.027 382.698 269.027 382.698");
  }

  71.429%,
  78.5719% {
    d: path("M224.527 551.198C173.027 517.214 160.027 382.698 269.027 382.698");
  }

  85.7148% {
    d: path("M224.527 551.199C224.527 511.5 231.5 454.5 269.027 382.698");
  }

  85.7148%,
  92.5877%,
  100% {
    d: path("M224.527 551.199C224.527 511.5 231.5 454.5 269.027 382.698");
  }
}

/* @keyframes darkTwelve {
  0% {
    d: path("M269.027 382.698C314.027 385.365 401.727 364.498 392.527 259.698");
  }

  100% {
    d: path("M269.027 382.698C307 321.5 343.5 292.5 392.527 259.698");
  }
} */

@keyframes darkTwelve {
  0%,
  71.429% {
    d: path("M269.027 382.698C307 321.5 343.5 292.5 392.527 259.698");
  }

  78.5719% {
    d: path("M269.027 382.698C314.027 385.365 401.727 364.498 392.527 259.698");
  }

  78.5719%,
  85.7148% {
    d: path("M269.027 382.698C314.027 385.365 401.727 364.498 392.527 259.698");
  }

  92.5877%,
  100% {
    d: path("M269.027 382.698C307 321.5 343.5 292.5 392.527 259.698");
  }
}
